/* Стили контейнеров лекарств */
#clickMe9 {
  background: #482A42;
  box-shadow: none;
}

#picframe9 {
  background-color: #482A42;
}

#clickMe10 {
  background: #6B3F50;
}

#picframe10 {
  background-color: #6B3F50;
}

#clickMe11 {
  background: #835057;
}

#picframe11 {
  background-color: #835057;
}

#clickMe12 {
  background: #90635E;
}

#picframe12 {
  background-color: #90635E;
}

/* Стили контейнеров вещей */
#clickMe1 {
  background: #37474F;
  box-shadow: none;
}

#picframe1 {
  background-color: #37474F;
}

#clickMe2 {
  background: #455A64;
}

#picframe2 {
  background-color: #455A64;
}

#clickMe3 {
  background: #546E7A;
}

#picframe3 {
  background-color: #546E7A;
}

#clickMe4 {
  background: #607D8B;
}

#picframe4 {
  background-color: #607D8B;
}

#clickMe5 {
  background: #78909C;
}

#picframe5 {
  background-color: #78909C;
}

#clickMe6 {
  background: #90A4AE;
}

#picframe6 {
  background-color: #90A4AE;
}

#clickMe7 {
  background: #78909C;
}

#picframe7 {
  background-color: #78909C;
}

#clickMe8 {
  background: #607D8B;
}

#picframe8 {
  background-color: #607D8B;
}
