/* стили вложенных списков в карточки */
.summary_list_click {
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #E4D3CB;
}

.summary_list_content {
  font-size: 16px;
  line-height: 1.4;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  margin-top: 11px;
  margin-bottom: 15px;
  padding-left: 19px;
  color: #E4D3CB;
  display: none;
}

.neumorphic {
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
  font-size: 15px;
  width: 70%;
  border-radius: 17px;
  overflow: hidden;
  padding: 1.3rem;
  display: none;
}
